[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiRNAflow"]
	path = MultiRNAflow
	url = https://github.com/loubator/multirnaflow
